.new-tweet {
  width: 100%;
}

#tweet-button {
  background-color: #4056A1;
  color: #ffffff;
}

#tweet-line {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-bottom: solid 4px black;
  padding: 0 0 10px 0;
}

#tweet-bottom {
  font-family: Bungee;
  padding: 10px 0 0 0;
  display: flex;
  justify-content: space-between;
}

#tweet-text {
  width: 100%;
}

#over {
  color: red;
}

#under {
  color: #545149;
}