.single-tweet {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
  margin: 2em 0px 1em 0px;
  border: 4px solid black;
  padding: 1em;
}

.single-tweet header {
  display: flex;
  justify-content:  space-between;
  align-items: center;
}

.single-tweet footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 1em;
  padding-top: 0.7em;
  font-size: smaller;
}

.single-tweet article {
  border-bottom: 4px solid black;
}

footer .fa-solid {
  color: purple;
}

footer .fa-solid:hover {
  color: orange;
}
.single-tweet:hover {
  box-shadow: 5px 5px 0px 0px #99abe8;
}

.posted-tweet-avatar {
  display: flex;
  align-items: center;
}

.posted-tweet-name {
  padding-left: 0.5em;
}

.posted-tweets {
  width: 100%;
}

article {
  overflow-wrap: break-word;
}